            body
            {
                background-color:#fff000;
                margin-bottom: 20%;
            }
            #title{
                text-align: center;
                text-shadow: blue;
                font-size: 7;
            }
            img{
                display: inline-block;
                width: min-content;
            }
            #caption
            {
                font-size: 20px;
                font-family: cursive;
            }
            #tribute-data{
                background-color: rgb(43, 93, 168);
                box-sizing: content-box;
                box-shadow:10px,10px,10px;
                font-family: monospace;
                padding: 25px;
                margin: 11px;
                margin-top: 50px;
            }
            h1 title:MS DHONI-THE STORY OF DYNAMIC MAN OF INDIAN CRICKET
            {
                font-style: italic;
                font-size: 39px;
                color: blue;
            }